@page "/CatalogPage"
@using ModelLibrary.Categories
@using ModelLibrary
@using ModelLibrary.Backet

@inject IRepositiry _repositiry
@inject ShopingBasket backet

<h3>CatalogPage</h3>

@foreach (var item in _repositiry.GetAllCategories())
{
    <p>
        <h3>@item.Name</h3>
        <ul>
            @foreach (var prod in item.GetProducts("Android", DateTime.Now))
            {
                <li>Title product: @prod.Title Price:@prod.Price 
                    <button class="btn btn-outline-success" @onclick="() => Buy(prod)">Buy</button></li>
            }
        </ul>
    </p>
}

@code {
    
    public void Buy(Product _product)
    {
        backet.AddProductToBasket(_product);
    }
}