@using ModelLibrary
@model List<ModelLibrary.Categories.ICategory>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Add Product</h2>

<form method="post">
    <p>
        <label>Title</label><br/>
        <input type="text" name="Title"/>    
    </p>
    
    <p>
        <label>Price</label><br/>
        <input type="number" name="Price"/>
    </p>
    
    <p>
        <label>Category</label><br/>
        <select name="Category">
            @foreach (var item in Model)
            {
                <option value="@item.Name">@item.Name</option>
            }
        </select>
    </p>
    
    <p>
        <input type="submit" value="Send"/>
    </p>
</form>
