@model List<ModelLibrary.ICatalog>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Categories</h2>

<ul>
    @foreach (var item in Model)
    {
        <li>@item.Name</li>
    }
</ul>
