@model List<ModelLibrary.Product>

@{
    ViewBag.Title = "Список товаров";
    Layout = "_Layout";
}

<h2>Список товаров</h2>
<ul>
    @foreach (var item in Model)
    {
        <li><b>Title:</b> @item.Title <b>Price:</b> @item.Price </li>
    }
</ul>
