@model List<ModelLibrary.ICatalog>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Categories</h2>

<ul>
    @foreach (var item in Model)
    {
        <li><b>Title category:</b> @item.Name <b>Id:</b> @item.Id</li>
    }
</ul>
